 <% if flash %>
<% flash.discard %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice_bootstrap ? "success" : "danger" %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>

  <% end %>
<% end %>
<% end %>

<% provide(:title, (t :home)) %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=579425732148246";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class=row>	
	<div class="span12">
		<%= image_tag('panoramic3.jpg')%>
	</div>
</div>


<div class=row>



	<div class="span9">
		<div class=row>
			<div class="span3">
				<%= link_to image_tag('custo.jpg'), "#promo1", :data => {:toggle => "modal"}%>

			</div>
			<div class="span3">
				<%= link_to image_tag('ofertamarzo.jpg'), "#promo2", :data => {:toggle => "modal"}%>
	
			</div>
			<div class="span3">
				<%= link_to image_tag('mango.jpg'), "#promo3", :data => {:toggle => "modal"}%>

			</div>
		</div>
		<div class=row>
			<div class="span6">
				<div class="hero-unit">
					<h3><%= t :consejo %></h3>
					<p><%= t :consejo_body %></p>
				</div>
			</div>
			<div class="span3">
				
				<div class="center">
					<br>
					<%= link_to image_tag('Zeiss_logo.svg', size: '90'), 'http://www.zeiss.com/C1256FBA003362DA/ContainerTitel/EyesightTest/$File/eyetest_es_ES.html'  %>
				
					<h3><%= link_to( 'Test Online de Zeiss', 'http://www.zeiss.com/C1256FBA003362DA/ContainerTitel/EyesightTest/$File/eyetest_es_ES.html' ) %></h3>
	  
				</div>
			</div>
		</div>
		<div class=row>
			<div class="span9">

				<div class="media">
				  <a class="pull-left" href="https://www.google.es/maps/place/OPTICALIA+VILA+OLIMPICA/@41.3910736,2.1973893,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x9c841864fc41b522">
				   <%= image_tag(mapCat(41.3911319, 2.197063), :class => "media-object") %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading"><%= t :find_us %></h4><br><br>
				    <address>
					  <strong>Opticalia Vila Olímpica</strong><br>
					  Av. Icària 162,<br>
					  08005, Barcelona<br>
					  <i class="fa fa-phone-square"> 932219388 / 672094714</i>
					</address>
				  </div>
				</div>
				
			</div>
			


		</div>
	</div>

	<div class="span3 right">
<div class="bground">
		<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fopticaliavilaolimpica&amp;width=265&amp;height=533&amp;colorscheme=light&amp;show_faces=false&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=579425732148246" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:265px; height:533px;" allowTransparency="true"></iframe>
	</div>
</div>
</div>

<div id="promo1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Custo Barcelona</h3>
  </div>
  <div class="modal-body">

	<div class="media">
	  <a class="pull-left" href="#">
	    <%= image_tag('custo.jpg') %>
	  </a>
	  <div class="media-body">
		<h4 class="media-heading">Gafas Custo Barcelona por 79 Euros con cristales incluidos</h4>
		<p>Ahora en Opticalia, sólo por 79 euros, te llevas unas gafas de la nueva colección de Custo Barcelona con cristales graduados incluidos. 
Nuevos diseños, nuevas formas, nuevos colores... todas las tendencias de la próxima temporada ya han llegado a Opticalia. 
Muchos modelos donde elegir. Lo que más te va a costar es decidirte por una. ¿Quieres verlas?</p>
	  </div>
	</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t :tancar %></button>
  </div>
</div>


<div id="promo2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Pepe Jeans</h3>
  </div>
  <div class="modal-body">

	<div class="media">
	  <a class="pull-left" href="#">
	    <%= image_tag('ofertamarzo.jpg') %>
	  </a>
	  <div class="media-body">
		<h4 class="media-heading">2X1 en gafas de sol de marca</h4>
		<p>¿De estilo aviador, redondas, deportivas? ¿Cuáles son las gafas de sol que mejor se adaptan a tu estilo? Esta temporada, elige dos gafas de marca y paga sólo una. En exclusiva.</p>
	  </div>
	</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t :tancar %></button>
  </div>
</div>


<div id="promo3" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Mango</h3>
  </div>
  <div class="modal-body">

	<div class="media">
	  <a class="pull-left" href="#">
	    <%= image_tag('mango.jpg') %>
	  </a>
	  <div class="media-body">
		<h4 class="media-heading">Gafas Mango por 79 Euros con cristales incluidos</h4>
		<p>Ahora en Opticalia, sólo por 79 euros, te llevas unas gafas de la nueva colección de Mango con cristales graduados incluidos. 
Nuevos diseños, nuevas formas, nuevos colores... todas las tendencias de la próxima temporada ya han llegado a Opticalia. 
Muchos modelos donde elegir. Lo que más te va a costar es decidirte por una. ¿Quieres verlas?</p>
	  </div>
	</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t :tancar %></button>
  </div>
</div>


<script>
$(document).ready(function(){
  $(".close").click(function(){
    $(".alert").hide();
  });
});
</script>
