<% provide(:title, (t :services)) %>

<div class=row>	
	<div class="span12">
		<%= image_tag('panoramic3.jpg')%>
	</div>
</div>
<h1><%= t :services_title %></h1>
<p><%= t :services_intro %></p>

<% @servicios.each do |servicio| %>
<div class="media">
  <a class="pull-left" href="#">
   <%= cl_image_tag(servicio.image, :class => "media-object") %>
  </a>
  <div class="media-body">
<% if I18n.locale.to_s == "ca" %>
		<h4 class="media-heading"><%= servicio.nameca %></h4>
		<p><%= servicio.descriptionca.gsub("\n","<br>").html_safe %></p>
	  <% else%>
		<h4 class="media-heading"><%= servicio.nameca %></h4>
		<p><%= servicio.description.gsub("\n","<br>").html_safe %></p>
	  <% end %>
  </div>
</div>
<hr>
<% end %>
