<% provide(:title, (t :about_title)) %>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data¡>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("tots11.jpg", alt: "Foto de Tots") %>
      <div class="carousel-caption">
        <h3><div class="car">L'equip d'Opticalia Vila Olímpica</div></h3>
      </div>
    </div>
	<div class="item">
      <%= image_tag("pere1.jpg", alt: "Pere") %>
      <div class="carousel-caption">
        <h3><div class="car">Pere Sànchez</div></h3>
      </div>
    </div>
	<div class="item">
      <%= image_tag("tots21.jpg", alt: "Pere") %>
      <div class="carousel-caption">
        <h3><div class="car">L'equip d'Opticalia Vila Olímpica</div></h3>
      </div>
    </div>
	<div class="item">
      <%= image_tag("xavi1.jpg", alt: "Pere") %>
      <div class="carousel-caption">
        <h3><div class="car">Xavier Cano</div></h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag("tots31.jpg", alt: "Pere") %>
      <div class="carousel-caption">
        <h3><div class="car">L'equip d'Opticalia Vila Olímpica</div></h3>
      </div>
    </div>


    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


