<h1>Consultas realizadas</h1>
<p>Sección de administración. Consultas realizadas a la página web.</p>

<table class="table">
<thead><tr>
  <th>Fecha</th>
  <th>Nombre</th>
  <th>e-mail</th>  
<th>Asunto</th>
  <th>Mensaje</th>
</tr>
</thead>
<tbody>
<% @consulta.each do |consulta| %>
	<tr>
  <td><%= consulta.created_at.to_s %>
  <td><%= consulta.name %></td>
  <td><%= consulta.email %></td>  
<td><%= consulta.asunto %></td> 
<td><%= consulta.message %></td> 

</tr>
<%end %>
</tbody>
</table>
