<footer class="footer">
  <div style="float:left">
   <%= Time.new.year %> <%= link_to '<i class="fa fa-home"></i>'.html_safe + " Opticalia Vila Olímpica", root_path %>
  </div>
  <nav>
    <ul>
      <li><%= link_to (t :privacy),  aviso_path %></li>
      <li><%= link_to (t :contact), contacto_path %></li>
	  <li><%= t :follow_us_on %> <%= link_to '<i class="fa fa-facebook-square">'.html_safe, "http://www.facebook.com/OpticaliaVilaOlimpica" %></i>
	      <%= link_to '<i class="fa fa-twitter-square">'.html_safe, "http://www.twitter.com/OpticaliaVilaOlimpica" %></i> </li>
    </ul>
  </nav>
</footer>
